.page{
    min-height: 100vh;
}

.page h3{
    margin-top: -190px;
    position: relative;
    font-family: Aptos, sans-serif;
    left: 40px;
    font-size: 76px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}

.page h3{
    transform: translateY(-50%);
}