.heropage {
  width: calc(100% - 80px);
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0 40px;
}

.heropage img {
  width: 100%;
  height: 596px;
  object-fit: cover;
  display: block;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
}

.overlay {
  position: absolute;
  top: 0;
  width: calc(100% - 80px);
  height: 596px;
  background: #00000066;
  opacity: 20%;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  z-index: 1;
}

.overlay2 {
  position: absolute;
  top: 0;
  width: calc(100% - 80px);
  height: 596px;
  background: #00000066;
  opacity: 80%;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  z-index: 1;
}


h3{
  font-size:  78px;
  color: #ffffff;
  font-family: Bayon,sans-serif;
  position: absolute;
  top: 290px;
  left: 70px;
  z-index: 2;
}

p {
  max-width: 740px;
  font-family: Bayon,sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  top: 440px;
  left: 70px;
  line-height: 1.7;
}