.heropage {
  width: calc(100% - 80px);
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0 40px;
}

.heropage img {
  width: 100%;
  height: 596px;
  object-fit: cover;
  display: block;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
}
