@font-face {
  font-family: 'Nexa';
  src: url('../src/assets/fonts/Nexa-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa-Bold';
  src: url('../.q./assets/fonts/Nexa-Bold.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hiragino';
  src: url('../../src/assets/fonts/Hiragino\ Kaku\ Gothic\ Pro\ W3.otf') format('opentype');
  font-weight: 100;
}
.navbar-content {
  width: 100%;
  max-width: 100vw;
  padding: 0 40px;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Nexa';
  font-weight: 300px;
  overflow: hidden;
}

.Links {
  display: flex;
  align-items: center;
  gap: 49px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Links a {
  text-decoration: none;
  color: #000;
  font-size: 19px;
}

.Links button {
  width: 185px;
  height: 56px;
  border-radius: 32px;
  background-color: #40c6ff;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Links button:hover {
  background-color: #2fb8f2;
}
